.itemContainer {
  width: 100%;
  background-color: rgba(250, 250, 250, 1);
  padding: 15px;
  position: relative;
  border-radius: 10px;
}

.itemContainer,
.nameDiv,
.nameDiv > div {
  display: flex;
  align-items: center;
}

.itemContainer > img {
  width: 197px;
}

.itemContainer > hr {
  height: 100%;
  margin: 0 20px;
}

.nameDiv {
  gap: 40px;
  max-width: 420px;
}

.nameDiv > h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.nameDiv > div {
  flex-direction: column;
  gap: 10px;
}

.nameDiv > div > p {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: rgba(102, 102, 102, 1);
}

.nameDiv > div > h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.itemContainer > button {
  position: absolute;
  right: 25px;
  width: 76px;
  height: 76px;
  border-radius: 50%;
  border: none;
  background-color: rgba(243, 243, 243, 1);
  cursor: pointer;
}

.itemContainer > button > img {
  width: 30px;
}

.itemContainer > button:hover {
  background-color: rgb(164, 164, 164);
}

@media screen and (max-width: 1360px) {
  .nameDiv {
    gap: 40px;
    max-width: 320px;
  }
}

@media screen and (max-width: 1300px) {
  .itemContainer > img {
    width: 187px;
  }

  .itemContainer > hr {
    margin: 0 10px;
  }

  .nameDiv > h3 {
    font-size: 22px;
  }

  .nameDiv > div > h3 {
    font-size: 22px;
  }

  .itemContainer > button {
    right: 20px;
    width: 66px;
    height: 66px;
  }

  .itemContainer > button > img {
    width: 25px;
  }
}

@media screen and (max-width: 1100px) {
  .itemContainer > img {
    width: 157px;
  }

  .nameDiv {
    gap: 20px;
    max-width: 280px;
  }

  .nameDiv > h3 {
    font-size: 20px;
    line-height: 25px;
  }

  .itemContainer > button {
    right: 20px;
    width: 56px;
    height: 56px;
  }

  .itemContainer > button > img {
    width: 20px;
  }
}

@media screen and (max-width: 900px) {
  .itemContainer > img {
    width: 127px;
  }

  .nameDiv {
    max-width: 240px;
  }

  .nameDiv > h3 {
    font-size: 18px;
    line-height: 20px;
  }

  .itemContainer > button {
    right: 15px;
    width: 46px;
    height: 46px;
  }

  .itemContainer > button > img {
    width: 18px;
  }

  .nameDiv > div > h3 {
    font-size: 20px;
  }

  .nameDiv > div > p {
    font-size: 12px;
    line-height: 17px;
  }
}
