.goodsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 90px;
  row-gap: 30px;
}

.snickerCart {
  border: 2px solid rgba(0, 0, 0, 0.15);
  padding: 30px;
  border-radius: 50px;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

.snickerCart:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.snickerCart,
.priceDiv {
  display: flex;
  width: 100%;
}

.snickerCart > img {
  width: 80%;
  margin: 0 auto;
}

.snickerCart > h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

.priceDiv {
  justify-content: space-between;
  align-items: center;
}

.priceDiv > div > p {
  color: rgba(102, 102, 102, 1);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.priceDiv > div > h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.priceDiv > button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 28px;
  font-weight: 200;
  border: 1px solid rgba(104, 102, 102, 0.5);
  background-color: rgba(233, 233, 233, 0.5);
  color: rgba(80, 80, 80, 0.975);
  cursor: pointer;
}

.priceDiv > button:hover {
  background-color: black;
  color: white;
}

.successMessage {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px 30px;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

@media screen and (max-width: 1300px) {
  .goodsContainer {
    column-gap: 40px;
    row-gap: 20px;
  }

  .snickerCart {
    padding: 30px;
    gap: 20px;
  }
}

@media screen and (max-width: 1000px) {
  .goodsContainer {
    column-gap: 20px;
  }

  .snickerCart > h3 {
    font-size: 20px;
    line-height: 25px;
  }

  .priceDiv > div > p {
    font-size: 12px;
  }

  .priceDiv > div > h3 {
    font-size: 22px;
    line-height: 25px;
  }

  .priceDiv > button {
    width: 35px;
    height: 35px;
    font-size: 22px;
  }
}
