.bascketContainer {
  padding: 30px 90px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 500px;
}

.bascketContainer,
.cartContainer,
.listDiv {
  width: 100%;
}

.bascketContainer > h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}

.bascketContainer > hr {
  border: 1px solid rgba(234, 234, 234, 1);
}

.cartContainer {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.listDiv {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 900px;
}

.totalContainer {
  width: 500px;
  background-color: rgba(250, 250, 250, 1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: fit-content;
  border-radius: 10px;
}

.totalContainer > h1 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
}

.totalContainer > ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.totalContainer > hr {
  border: 1px solid rgba(0, 0, 0, 0.217);
}

.totalContainer > p {
  color: rgba(45, 45, 45, 1);
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.totalContainer > h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

@media screen and (max-width: 1300px) {
  .bascketContainer {
    padding: 20px 40px;
    gap: 20px;
    padding-bottom: 500px;
  }

  .totalContainer {
    width: 400px;
  }

  .totalContainer > ul {
    gap: 30px;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
  }

  .totalContainer > p {
    line-height: 10px;
  }

  .totalContainer > h2 {
    line-height: 12px;
  }
}
