.mainContainer {
  width: 100%;
  padding: 30px 90px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 300px;
}

.mainContainer > img {
  width: 100%;
}

.mainContainer > h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}

.mainContainer > hr {
  border: 1px solid rgba(234, 234, 234, 1);
}
